.print-only {
  display: none;
}

@media print {
  body {
    color: black !important;
    font-size: 12pt;
  }
  
  #main-sidebar {
    display: none;
  }
  
  #main-logo {
    display: none;
  }
  
  #main-header {
    border: none;
    
    padding-left: 0px;
    img.mini-logo {
      display: inline;
    }
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #main-content {
    border-left: 0;
    padding: 15px;
    width: 100vw;
    height: 100%;
    background-color: white;
  }
  
  header {
    page-break-after: avoid;
  }
  
  main {
    page-break-before: avoid;
    background-color: white;
  }
  
  div.main-content {
    page-break-before: avoid;
  }
  
  .page-break {
    page-break-after: always;
    height: 0;
  }
  
  .no-print {
    display: none !important;
  }
  
  .print-only {
    display: block;
  }
}